@CHARSET "EUC-KR";
/* Toggle Styles */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#wrapper {
	padding-left: 250px;
}

#wrapper.toggled {
	padding-left: 0;
}

#sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	padding: 20px;
	position: relative;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

#customers td, #customers th {
	font-size: 1em;
	border: 1px solid #000000;
	padding: 3px 7px 2px 7px;
}

#customers th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #000000;
	color: #ffffff;
}

#customers tr.alt td {
	color: #000000;
	background-color: #EAF2D3;
}


#device-state
{
	text-align: center;
}

------------------------------------------------------------------------------------
/**********************LOGIN AND REGISTRATION PAGE******************************/
#body1 {
 background-color: #fff;
 margin: 0; padding 0;
 font-weight: bold;
 color: #0074E0;
}

.header {
 padding: 30px;
 color: white;
 background-color: black;
 font-size: 30px;
}

#content {
 overflow: hidden;
 padding: 1em 1.25em;
 float: left;
 margin: 100px 0 0 100px;
}

.myButton {
 -moz-box-shadow: inset 0px 1px 3px 0px #707a79;
 -webkit-box-shadow: inset 0px 1px 3px 0px #707a79;
 box-shadow: inset 0px 1px 3px 0px #707a79;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a8b3b0
  ), color-stop(1, #161c1c));
 background: -moz-linear-gradient(top, #a8b3b0 5%, #161c1c 100%);
 background: -webkit-linear-gradient(top, #a8b3b0 5%, #161c1c 100%);
 background: -o-linear-gradient(top, #a8b3b0 5%, #161c1c 100%);
 background: -ms-linear-gradient(top, #a8b3b0 5%, #161c1c 100%);
 background: linear-gradient(to bottom, #a8b3b0 5%, #161c1c 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8b3b0',
  endColorstr='#161c1c', GradientType=0);
 background-color: #a8b3b0;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 border: 1px solid #566963;
 display: inline-block;
 cursor: pointer;
 color: #ffffff;
 font-family: Arial;
 font-size: 15px;
 font-weight: bold;
 width: 100px;
 padding: 11px 23px;
 text-decoration: none;
 text-shadow: 0px -1px 0px #151f1e;
 padding: 11px 23px;
}

.myButton:hover {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #161c1c
  ), color-stop(1, #a8b3b0));
 background: -moz-linear-gradient(top, #161c1c 5%, #a8b3b0 100%);
 background: -webkit-linear-gradient(top, #161c1c 5%, #a8b3b0 100%);
 background: -o-linear-gradient(top, #161c1c 5%, #a8b3b0 100%);
 background: -ms-linear-gradient(top, #161c1c 5%, #a8b3b0 100%);
 background: linear-gradient(to bottom, #161c1c 5%, #a8b3b0 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161c1c',
  endColorstr='#a8b3b0', GradientType=0);
 background-color: #161c1c;
}

.myButton:active {
 position: relative;
 top: 1px;
}

.center {
 position: absolute;
 top: 40%;
 left: 30%;
}

.msg {
 align:center;
 color: red;
 font-weight: bold;
}

#h3{
	font-size: 20px;
}
/*******************************SERVICES********************************/
